body
{
  background-color: rgb(135, 99, 233);  
}

#score
{
  font-size: 50px;
  padding-left:50px;
  
}

#timer
{
 float: right;
 font-size: 50px; 
 padding-right: 100px;
}

#your_sketch,#sketch_to_be_drawn,#confidence,#score,#timer
{
  font-size: 40px;  
  color: rgb(236, 122, 141);
}

h1
{
  color: rgb(236, 122, 141);
}